.newCitySearch {
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    padding-top: 0.25rem;

}

form {
    display: flex;
    justify-content: space-between;


    label {
        position: absolute;
        left: -10000px;
    }

    input[type="text"] {
        width: 78%;
        display: flex;
        font-size: 1.25rem;
        border-radius: 10px;
    }

    input[type="text"]:focus,
    input[type="text"]:hover {
        box-shadow: 4px 2px 5px black;
    }

    button {
        font-size: 0.75rem;
        background-color: $search-button-color;
        color: $button-textcolor;
        padding: 0.75rem;
        @include mq(768px) {
        font-size: 1rem;
        border-radius: 10px;
        }
    }
}

section {
    width: 90%;
    max-width: 700px;
    margin: auto;
}