.currentWeather {
    min-height: 60vh;

    background-color: whitesmoke;
    justify-content: center;
    text-align: center;

    .currently {
        padding: 1rem;
        font-size: 5rem;
        text-shadow: 1px 3px rgba(235, 37, 159, 0.445);
    }

    .weather {
        padding-top: 5rem;
        font-size: 1.5rem;
    }

    .tempRange {
        font-size: 1.5rem;
    }
}





